@import '../../cross_import_lesshat.less';

.ad-container {
    margin: 0 auto 20px;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;

    &.google {
        min-height: 250px;

        h6.label {
            margin: 5px auto 0;
        }
    }

    &.medianet {
        &[data-dimension='970x90'] {
            min-height: 90px;

            @media @mobile {
                display: none;
            }
        }

        &[data-dimension='300x250'] {
            min-height: 250px;

            @media @desktop {
                display: none;
            }

            & > div {
                max-width: 400px;
            }
        }

        h6.label {
            margin: 0 auto 5px;
        }
    }

    & > div {
        width: 100%;
        margin: 0 auto;
        padding: 3px;

        &.ad-block-warning {
            background: rgba(255, 255, 255, 0.5);
            .box-shadow(0 0 10px -1px #192425);
            border-radius: 5px;
            padding: 15px 10px;
            line-height: 30px;
            .calc(width, ~'100% - 10px');
            margin: 5px auto;

            & > span > a {
                font-size: inherit;
            }
        }

        & > h6.label {
            width: 100%;
            text-align: center;
            font-style: italic;
            font-size: 15px;
        }

        & > iframe,
        & > ins {
            .box-shadow(0 0 10px -1px #192425);
        }
    }
}
