@import '../../cross_import_lesshat.less';

.ad-container {
    max-width: 1200px;
    width: 100%;

    &.hide {
        display: none;
    }

    &[data-dimension='970x90'] {
        @media all and (max-width: 990px) {
            display: none;
        }

        & > div {
            max-width: 970px;
            min-height: 90px;

            & > h6.sponsor {
                max-width: 970px;
            }
        }
    }

    &[data-dimension='300x250'] {
        @media all and (min-width: 991px) {
            display: none;
        }

        & > div {
            max-width: 300px;
            min-height: 250px;

            & > h6.sponsor {
                max-width: 300px;
            }
        }
    }

    & > div {
        width: 100%;
        margin: 0 auto 20px;

        &.ad-block-warning {
            display: table;
            background: rgba(255, 255, 255, 0.5);
            .box-shadow(0 0 10px -1px #192425);
            border-radius: 5px;
            padding: 10px;
            line-height: 30px;

            & > span {
                display: table-cell;
                vertical-align: middle;

                & > a {
                    font-size: inherit;
                }
            }
        }

        & > h6.sponsor {
            width: 100%;
            margin: 0 auto 5px;
            text-align: center;
            font-style: italic;
            font-size: 15px;
        }

        & > iframe {
            max-width: 100%;
            .box-shadow(0 0 10px -1px #192425);
        }
    }
}
