@import '../../cross_import_lesshat.less';

.ad-container {
    max-width: 1200px;
    width: 100%;

    &.hide {
        display: none;
    }

    &[data-dimension='970x90'] {
        @media @mobile {
            display: none;
        }
    }

    &[data-dimension='300x250'] {
        @media @desktop {
            display: none;
        }

        & > div {
            max-width: 400px;
        }
    }

    & > div {
        width: 100%;
        margin: 0 auto 20px;

        &.ad-block-warning {
            background: rgba(255, 255, 255, 0.5);
            .box-shadow(0 0 10px -1px #192425);
            border-radius: 5px;
            padding: 15px 10px;
            line-height: 30px;

            & > span > a {
                font-size: inherit;
            }
        }

        & > h6.sponsor {
            width: 100%;
            margin: 0 auto 5px;
            text-align: center;
            font-style: italic;
            font-size: 15px;
        }

        & > iframe {
            .box-shadow(0 0 10px -1px #192425);
        }
    }
}
