{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "useTabs": false,
    "semi": true,
    "endOfLine": "lf",
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed"
}