service firebase.storage {
  match /b/{bucket}/o {
    match /Dice%20Images {
       match /{allImages=**} {
         allow read;
       }
    }
  }
}
