@import '../cross_import_lesshat.less';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #6ba4a5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    main,
    header {
        h3 {
            text-align: center;
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 20px;
        }

        h4 {
            text-align: center;
            font-weight: 500;
            font-size: 28px;
            margin-bottom: 20px;
        }

        p {
            line-height: 30px;
            margin-bottom: 20px;
            font-size: 24px;
        }

        a {
            font: inherit;
            font-size: 24px;
            color: #6ba4a5;
            word-break: break-word;
            .transition(all 0.2s ease-in-out);

            &:hover,
            &:focus {
                color: #ffffff;
            }
        }

        div.divisor {
            border-bottom: 5px solid #ffffff;
            margin: 20px auto;
            width: 100%;
        }

        ul {
            font-size: 24px;
        }

        strong {
            font-weight: 700;
        }

        i {
            font-style: italic;
        }
    }
}

/* reset-css */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

[hidden] {
    display: none;
}

body {
    line-height: 1;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
fieldset {
    -webkit-appearance: none;

    &[disabled] {
        opacity: 1;
    }
}
