@import '../cross_import_lesshat.less';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #6ba4a5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    main {
        h3 {
            text-align: center;
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 20px;
        }

        h4 {
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 20px;
        }

        p {
            line-height: 30px;
            margin-bottom: 20px;
        }

        a {
            font: inherit;
            color: #6ba4a5;
            word-break: break-all;
            .transition(all 0.2s ease-in-out);

            &:hover,
            &:focus {
                color: #ffffff;
            }
        }
    }
}
