@import '../../../cross_import_lesshat.less';

.cal.generic-dmg-cal {
    .result {
        span.dice-name {
            font-size: 20px;
            font-weight: 400;
            margin: 10px 0 -10px;
        }
    }
}
