@import '../../cross_import_lesshat.less';

@keyframes spin {
    from {
        .transform(rotate(0deg));
    }

    to {
        .transform(rotate(360deg));
    }
}

.loading {
    margin: 30px auto;
    display: block;
    font-size: 160px;
    color: #6ba4a5;
    .animation(spin 900ms steps(10, end) infinite);
}

.warning {
    line-height: 20px;

    & > button {
        font-size: inherit;
        background: none;
        border: none;
        text-decoration: underline;
        font-weight: 600;
        color: #6ba4a5;
        cursor: pointer;
        .transition(all 0.2s ease-in-out);

        &:hover,
        &:active,
        &:focus {
            color: #ffffff;
        }
    }
}
