.box-guide {
    text-align: center;

    .box-container {
        height: 200px;

        & > img {
            height: 100%;
            width: auto;
        }
    }

    p img {
        height: 72px;
        width: auto;
        display: inline;
        vertical-align: middle;

        &.gold {
            height: 36px;
        }
    }
}
