@import '../../../cross_import_lesshat.less';

.cal.coop-cal {
    img {
        margin: 0 auto 20px;
        display: block;
    }

    section.filter {
        .display(flex);
        .flex-wrap(wrap);
        .justify-content(space-around);

        form {
            .display(flex);
            .flex-direction(column);
            .justify-content(flex-start);
            .align-items(center);
            margin: 0 10px 20px;
            width: 350px;

            &:last-of-type {
                .flex-basis(100%);
            }

            img {
                display: block;
                height: 120px;
            }

            input {
                width: 70px;
            }

            select {
                width: auto;
            }
        }
    }

    section.coop-gold-table {
        overflow-y: hidden;
        overflow-x: auto;

        p {
            text-align: center;
        }

        table {
            border: 1px solid black;
            border-collapse: separate;
            border-spacing: 1px;

            &:first-of-type {
                margin-bottom: 20px;
            }

            @media @desktop {
                &.vertical {
                    display: none;
                }
            }

            @media @mobile {
                &.horizontal {
                    display: none;
                }
            }

            &.horizontal {
                width: 100%;

                td {
                    min-width: 57px;
                }
            }

            &.vertical {
                margin: 0 auto;

                td {
                    width: 80px;
                }
            }

            th {
                border: 1px solid black;
                font-size: 18px;
                text-align: left;
                font-weight: 600;
                background-color: #4b8bc1;
            }

            td {
                border: 1px solid black;
                font-size: 18px;
                text-align: right;

                &:nth-of-type(odd) {
                    background: #2f2f2f;
                }

                &:nth-of-type(even) {
                    background: #282828;
                }
            }

            tr:nth-of-type(even) {
                td {
                    &:nth-of-type(odd) {
                        background: #2f2f2f;
                    }

                    &:nth-of-type(even) {
                        background: #282828;
                    }
                }
            }
        }
    }
}
