@import '../../../cross_import_lesshat.less';

.dashboard.decks-guide {
    .dice-container {
        margin: 0 auto;
        max-width: 500px;

        & > img {
            width: 20%;
            height: auto;
        }
    }

    label[for='add-guide'] {
        line-height: 30px;
        margin-bottom: 20px;
        font-size: 24px;
        display: block;

        button {
            display: inline-block;
            margin: 0 10px;
            font-size: 15px;
        }
    }

    table {
        border-spacing: 2px;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;

        &.guide-menu > tbody > tr:first-of-type > td:first-of-type {
            width: 50px;
        }

        tbody {
            & > tr {
                &:first-of-type > td:first-of-type {
                    width: 200px;

                    input {
                        margin: 0;
                        font-size: inherit;
                        width: 90%;
                    }
                }

                &:nth-of-type(odd) {
                    background: #f8d298;
                }

                &:nth-of-type(even) {
                    background: #b8dadc;
                }

                & > td {
                    padding: 10px;
                    border: 5px ridge #ededed;
                    vertical-align: middle;
                    text-align: center;
                    font-weight: 500;
                    line-height: 32px;
                }

                &.dice-container > td select {
                    display: inline-block;
                    margin: 10px;
                }
            }
        }
    }

    button {
        &.delete,
        &.submit,
        &.back,
        &.add,
        &.edit {
            padding: 5px;
            font-size: 10px;
            display: inline-block;
        }

        &.submit,
        &.back {
            margin: 0 10px;
        }
    }
}
