@import '../../cross_import_lesshat.less';

.crit-data {
    p {
        & > button {
            display: inline;
            text-decoration: underline;
            padding: 0;
            background: none;
            border: 0;
            font: inherit;
            font-size: 24px;
            color: #1b00b2;
            word-break: break-word;
            .transition(all 0.2s ease-in-out);

            &:hover,
            &:focus {
                color: #ffffff;
            }
        }
    }

    form {
        .display(flex);
        .flex-direction(row);
        .justify-content(center);
        .flex-wrap(wrap);

        & > label {
            font-size: 20px;

            & > input {
                margin: 10px;
                width: 70px;
            }

            &[for='my-rank'] {
                & > input {
                    width: 40px;
                    background: #eeeeee;
                }
            }
        }
    }

    .chart-container {
        @media @desktop {
            .display(flex);
        }
    }

    .table-container {
        overflow-y: hidden;
        overflow-x: auto;

        table {
            border: 1px solid black;
            border-collapse: separate;
            border-spacing: 1px;

            &:first-of-type {
                margin-bottom: 20px;
            }

            @media @desktop {
                &.vertical {
                    display: none;
                }
            }

            @media @mobile {
                &.horizontal {
                    display: none;
                }
            }

            &.horizontal {
                width: 100%;

                td {
                    min-width: 57px;
                }
            }

            &.vertical {
                margin: 0 auto;

                td {
                    width: 80px;
                }
            }

            th {
                border: 1px solid black;
                font-size: 18px;
                text-align: left;
                font-weight: 600;
                background-color: #4b8bc1;
            }

            td {
                border: 1px solid black;
                font-size: 18px;
                text-align: right;

                &:nth-of-type(odd) {
                    background-color: #b8dadc;
                }

                &:nth-of-type(even) {
                    background-color: #f8d298;
                }
            }

            tr:nth-of-type(even) {
                td {
                    &:nth-of-type(odd) {
                        background-color: #f8d298;
                    }

                    &:nth-of-type(even) {
                        background-color: #b8dadc;
                    }
                }
            }
        }
    }
}
