@import '../../cross_import_lesshat.less';

body {
    header,
    footer {
        width: 100%;

        & > .container {
            width: 100%;
            margin: auto;
            z-index: 10;
        }
    }

    header {
        .popup-overlay > .popup > .container {
            text-align: center;
            line-height: 20px;

            a {
                font-size: inherit;
            }

            img {
                height: 50px;
            }

            span {
                display: block;

                &.error {
                    color: #ff0000;
                    font-style: italic;
                    margin-bottom: 5px;
                }
            }

            .oauth {
                margin: 10px auto;

                button {
                    padding: 0;
                    border: 0;
                    background: none;
                    cursor: pointer;
                    font-size: 40px;

                    &:not(:last-of-type) {
                        margin-right: 10px;
                    }

                    &.discord {
                        background: #ffffff;
                        border-radius: 5px;
                        padding: 4px 5px 0;
                        color: #7289da;
                    }

                    &.patreon {
                        background: #f96854;
                        border-radius: 5px;
                        padding: 4px 5px 0;
                        color: #052d49;
                    }
                }
            }
        }

        & > .container {
            position: fixed;

            & > .headerBar {
                display: block;
                position: relative;

                &.topHeaderBar {
                    z-index: 2;
                    height: 30px;
                    background-color: #525252;
                    .box-shadow(0 -5px 10px 11px rgba(0, 0, 0, 1));

                    & > .container {
                        text-align: right;

                        & > .img-container {
                            display: inline-block;
                            height: 25px;
                            border-radius: 50%;
                            vertical-align: text-top;
                            overflow: hidden;
                            margin-right: 5px;

                            & > img {
                                height: 100%;
                            }
                        }

                        & > .login,
                        & > .user,
                        & > .logout {
                            display: inline-block;
                            vertical-align: middle;
                            background: none;
                            border: 0;
                            color: #ffffff;
                            line-height: 30px;
                        }

                        & > .login,
                        & > .logout {
                            margin-left: 5px;
                            cursor: pointer;
                            .transition(color 0.2s ease-in-out);

                            &:hover,
                            &:focus {
                                color: #6ba4a5;
                            }
                        }
                    }
                }

                &.lowHeaderBar {
                    .transition(height, 0.4s ease-out);
                    z-index: 1;
                    height: 120px;
                    background-color: #ffffff;
                    .box-shadow(0 -8px 10px 11px rgba(0, 0, 0, 1));

                    @media @mobile {
                        height: 50px;
                    }

                    button.toggleMenu {
                        @media @desktop {
                            display: none;
                        }

                        @media @mobile {
                            z-index: 100;
                            .display(flex);
                            .justify-content(space-around);
                            .align-items(center);
                            position: absolute;
                            right: 10px;
                            top: 13px;
                            height: 30px;
                            width: 30px;
                            border-radius: 3px;
                            cursor: pointer;
                            color: #525252;
                            border: 1px solid #525252;
                            background-color: transparent;
                            font-size: 20px;
                            .transition(all 0.4s ease-in-out);
                        }
                    }

                    .container {
                        position: relative;
                        padding-top: 1px;

                        ul.menu {
                            .display(flex);
                            .justify-content(flex-end);
                            height: 100%;
                            position: relative;

                            @media @mobile {
                                .flex-direction(column);
                                .justify-content(flex-start);
                                height: auto;
                                overflow: auto;
                                border-radius: 5px;
                                min-height: 100%;
                                border: 5px solid transparent;
                                .calc(max-height, ~'100vh - 60px');
                                .transition(0.4s all ease-in-out);
                                visibility: hidden;
                                margin-top: 0;

                                &.open {
                                    border: 5px solid #525252;
                                    opacity: 1;
                                    visibility: visible;
                                    margin-top: 10px;

                                    & > li {
                                        &:first-of-type {
                                            pointer-events: initial;
                                            display: block;
                                            opacity: 1;
                                            position: initial;
                                            margin-left: 0;
                                            visibility: visible;
                                            background-color: #ffffffee;
                                            padding: 10px;
                                            border-bottom: 2px solid #525252;
                                            height: auto;
                                            .transition(0.4s all ease-in-out);

                                            & > a {
                                                display: inline-block;
                                            }
                                        }

                                        &:nth-of-type(n + 2) {
                                            pointer-events: initial;
                                            display: block;
                                            opacity: 1;
                                            width: 100%;
                                        }
                                    }

                                    & ~ button.toggleMenu {
                                        top: 25px;
                                        right: 25px;
                                        border: 0;
                                    }
                                }
                            }

                            & > li {
                                &:first-of-type {
                                    position: absolute;
                                    left: 0;
                                    margin-left: 0;
                                    display: table;
                                    visibility: visible;
                                }

                                a,
                                span {
                                    display: table-cell;
                                    vertical-align: middle;
                                    text-decoration: none;
                                    color: #525252;
                                    font-size: 30px;
                                    font-weight: 500;
                                    .transition(color 0.2s ease-in-out);
                                }

                                & > span {
                                    cursor: context-menu;

                                    &.active {
                                        color: #6ba4a5;
                                        font-weight: 700;
                                    }
                                }

                                & > a {
                                    &:hover,
                                    &:focus {
                                        cursor: pointer;
                                        color: #6ba4a5;
                                    }
                                }

                                @media @desktop {
                                    display: table;
                                    margin-left: 40px;
                                    position: relative;
                                    height: 100%;

                                    &.focused {
                                        & > ul {
                                            display: block;
                                            visibility: visible;
                                            opacity: 1;
                                            z-index: 10;
                                        }
                                    }

                                    & > ul {
                                        .transition(all 0.4s ease-in-out);
                                        opacity: 0;
                                        visibility: hidden;
                                        z-index: 10;
                                        position: absolute;
                                        background-color: rgba(5, 41, 46, 0.9);
                                        right: 0;
                                        top: 100px;
                                        padding: 0 30px;

                                        & > li {
                                            text-align: right;
                                            margin: 25px 0;
                                            white-space: nowrap;

                                            & > a,
                                            & > span {
                                                color: #6ba4a5;
                                                .transition(
                                                    color 0.2s ease-in-out
                                                );

                                                &:hover,
                                                &:focus {
                                                    color: #ffffff;
                                                }

                                                &.active {
                                                    cursor: context-menu;
                                                    color: #ffffff;
                                                    font-weight: 700;
                                                }
                                            }
                                        }
                                    }
                                }

                                @media @mobile {
                                    &:first-of-type {
                                        height: 40px;

                                        span.active {
                                            cursor: context-menu;
                                            color: #6ba4a5;
                                            font-weight: 700;
                                        }
                                    }

                                    &:nth-of-type(n + 2) {
                                        pointer-events: none;
                                        opacity: 0;
                                        .calc(width, ~'100% - 20px');
                                        margin-left: 0;
                                        background-color: #ffffffee;
                                        padding: 10px;
                                        z-index: 40;
                                        .transition(0.4s all ease-in-out);

                                        span.active {
                                            cursor: context-menu;
                                            color: #6ba4a5;
                                            font-weight: 700;
                                        }

                                        & > ul {
                                            margin-left: 20px;

                                            & > li {
                                                margin: 10px 0;

                                                & > a,
                                                span {
                                                    font-size: 20px;
                                                }

                                                &:hover,
                                                &:focus {
                                                    & > a {
                                                        color: #6ba4a5;
                                                    }
                                                }

                                                span.active {
                                                    cursor: context-menu;
                                                    color: #6ba4a5;
                                                    font-weight: 700;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                & > .container {
                    padding: 0 10px;
                    height: 100%;
                    vertical-align: middle;
                    margin: 0 auto;
                    max-width: 1200px;
                }
            }
        }

        & > .header-placeholder {
            height: 150px;
            .transition(height, 0.4s ease-in-out);

            @media @mobile {
                height: 80px;
            }
        }

        &.scroll {
            @media @desktop {
                & > .header-placeholder {
                    height: 80px;
                }

                & > .container .headerBar.lowHeaderBar {
                    height: 50px;

                    ul.menu > li {
                        & > ul {
                            top: 50px;
                        }
                    }
                }
            }
        }
    }

    footer {
        bottom: 0;

        & > .container {
            bottom: 0;
            background-color: #05292e;
            color: #ffffff;

            &.upper {
                height: 100px;
            }

            & > .footerBar {
                display: block;
                position: relative;

                & > .container {
                    text-align: center;
                    margin: 0 auto;
                    padding: 30px 10px 0;
                    max-width: 1200px;

                    & > .community {
                        padding-top: 10px;

                        & > div {
                            display: inline-block;
                            margin: 0 5px;

                            & > a {
                                text-decoration: none;
                                .transition(color 0.2s ease-in-out);

                                &:link,
                                &:visited {
                                    color: #525252;
                                }

                                &:hover,
                                &:focus {
                                    &.discord {
                                        color: #7289da;
                                    }

                                    &.reddit {
                                        color: #ff4301;
                                    }

                                    &.patreon {
                                        color: #f96854;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.lower {
                @media @desktop {
                    height: 25px;
                }
                background-color: #525252;

                & > .footerBar > .container {
                    padding: 0 10px;
                    height: 100%;
                    line-height: 25px;
                    font-size: 12px;
                    font-weight: 100;

                    a {
                        color: #ffffff;
                        margin-left: 10px;
                        .transition(color 0.2s ease-in-out);

                        &:hover,
                        &:active {
                            color: #05292e;
                        }
                    }

                    @media @desktop {
                        #copyright {
                            float: left;
                        }

                        .footer-link {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
