@import '../../cross_import_lesshat.less';

.homepage {
    section {
        &:not(:last-of-type) {
            margin-bottom: 60px;
        }

        ul.menu {
            .display(flex);
            .justify-content(space-around);
            .flex-wrap(wrap);

            & > li {
                text-align: center;
                padding: 0 10px;
                font-size: 25px;
                font-weight: 500;
                color: #6ba4a5;
                display: block;
                margin-bottom: 20px;
                width: 25%;

                @media @mobile {
                    width: 50%;
                }

                &:first-of-type {
                    display: none;
                }

                & > a,
                span {
                    border-bottom: 5px solid #6ba4a5;
                    color: #6ba4a5;
                    display: inline-block;
                    margin-bottom: 10px;
                }

                & > a {
                    cursor: pointer;
                    text-decoration: none;
                    .transition(all 0.2s ease-in-out);

                    &:hover,
                    &:focus {
                        color: #ffffff;
                        border-bottom: 5px solid #ffffff;
                    }
                }

                & > ul {
                    & > li {
                        margin-bottom: 5px;
                        font-weight: 400;

                        & > a {
                            font-size: 20px;
                            word-break: break-word;
                            color: #6ba4a5;
                            .transition(all 0.2s ease-in-out);

                            &:hover,
                            &:focus {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}
