.dice-mechanics {
    p.intro {
        span.version {
            font-weight: 700;
        }
    }

    .row {
        h3 {
            display: inline-block;
        }

        p {
            min-height: 100px;
        }

        figure {
            height: 150px;

            & > img {
                height: 100%;
            }
        }

        &:nth-of-type(odd) > figure {
            float: left;
        }

        &:nth-of-type(even) > figure {
            float: right;
        }
    }
}
